<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema DRCA</title>
</head>
<body>
    <h2>{{ alunos }}</h2>
    <ul>
        {% for aluno in alunos %}
        <li>{{ aluno.nome }} - {{ aluno.matricula }}</li>
        {% endfor %}
    </ul>
</body>
</html>